---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { getTitle } from "../../utils";

export async function getStaticPaths() {
  const blogEntries = await getCollection("typescript", ({ data }) => {
    return data.publish;
  });
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={getTitle(entry.data.title)}>
  <div class="lines-top" id="line1"></div>
  <div class="lines-top" id="line2"></div>
  <div class="lines-top" id="line3"></div>
  <h1>{entry.data.title}</h1>
  <div class="lines-bottom" id="line7"></div>
  <div class="lines-bottom" id="line8"></div>
  <div class="lines-bottom" id="line9"></div>
  <div id="date">{entry.data.pubDate.toISOString().slice(0, 10)}</div>
  <Content />
</Layout>

<style>
  h1 {
    padding: 0.5rem 1rem;
    margin: 0;
  }
  .lines-top {
    border-bottom: 1px solid hsl(0 70% 10% / 80%);
    height: 6px;
    width: 40%;
  }
  .lines-bottom {
    border-top: 1px solid hsl(0 70% 10% / 80%);
    height: 6px;
    width: 40%;
  }
  #line1 {
    width: 50%;
  }
  #line2 {
    margin-left: 5%;
  }
  #line3 {
    width: 60%;
    margin-left: 20%;
  }
  #line7 {
    width: 60%;
    margin-left: 40%;
  }
  #line8 {
    margin-left: 55%;
  }
  #line9 {
    margin-left: 30%;
  }
  #date {
    text-align: right;
    font-size: small;
  }
</style>
