---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="プログラミング(主に TypeScript)の技術について書き記すサイト"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="layout-wrapper">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  /* :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	} */
  html {
    font-family: sans-serif;
    background: hsl(0, 90%, 10%);
    color: black;
  }
  body {
    padding: 8px;
  }
  h2 {
    padding-top: 1.5rem;
    border-bottom: 2px solid hsl(0 70% 30% / 80%);
  }
  p {
    line-height: 150%;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;

    /* `内容` に対するスタイル */
    &:not(pre > &) {
      background-color: hsl(0 50% 80% / 20%);
      padding: 2px 4px;
      border-radius: 4px;
    }
  }
  blockquote {
    background-color: hsl(0 50% 80% / 20%);
    padding: 0.1rem 0.9rem;
    border-radius: 8px;
  }
  #layout-wrapper {
    padding: 16px;
    background: hsl(0 0% 100% / 90%);
    border-radius: 8px;
  }
  .astro-code {
    padding: 8px;
    border-radius: 4px;
  }
</style>
